name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build_examples:
    strategy:
      matrix:
        example:
          - examples/ReadingControlsInLoop
          - examples/ReadingControlsUsingCallback
          - examples/TriggeringVibrations
          - examples/UsingAllCallbacks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cache/pip
          ~/.platformio/.cache
        key: ${{ runner.os }}-pio
    - uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install PlatformIO Core
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
    - name: Build PlatformIO example
      run: |
        cat > platformio.ini << EOF
          [env]
          platform = espressif32
          framework = arduino
          build_unflags = -std=gnu++14
          build_flags = 
            -D CONFIG_BT_BLEGC_LOG_LEVEL=5
            -D CONFIG_BT_BLEGC_LOG_BUFFER_ENABLED=1

          [env:esp32dev]
          board = esp32dev

          [env:esp32s3]
          board = esp32-s3-devkitm-1

          [env:esp32c3]
          board = esp32-c3-devkitm-1

          ;[env:esp32c6]
          ;board = esp32-c6-devkitm-1
          ;platform = https://github.com/pioarduino/platform-espressif32/releases/download/54.03.21/platform-espressif32.zip
        EOF
        pio ci -c platformio.ini -l .
      env:
        PLATFORMIO_CI_SRC: ${{ matrix.example }}
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install MkDocs
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs==1.6.1 mkdocs-material==9.7.0
      - name: Generate MkDocs site
        run: mkdocs build --strict
  arduino_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/arduino-lint-action@v2
        with:
          library-manager: update
          project-type: library
